<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TGB.Web.styles.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css"/>

    <link rel="icon" type="image/png" href="favicon.png" />

    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script defer src="/lib/font-awesome/js/all.min.js"></script>
    @* Easy MDE*@
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <HeadOutlet />
</head>

<body data-bs-theme="dark">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
