@page "/"
@rendermode InteractiveServer
@using TGB.Domain.Entities
@using TGB.Web.Models
@inject Service service
@inject AuthenticationStateProvider asProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
