@page "/"
@rendermode InteractiveServer
@using TGB.Domain.Entities
@using TGB.Web.Models
@inject Service service
@inject AuthenticationStateProvider asProvider

<PageTitle>Home</PageTitle>

<h1>Web Deploy Worked!</h1>
