::deep .table input,
.sutble-input {
    border: none;
    background: none;
    width: 100%;
}

    ::deep .table input:focus-visible,
    .sutble-input:focus-visible {
        outline: none;
        border-bottom: .1rem solid var(--bs-secondary-color);
    }

::deep .table-warning input{
    color: var(--bs-table-color);
}

    ::deep .table-warning input:focus-visible {
        border-bottom: .1rem solid var(--bs-table-color);
    }

.name-col {
    width: 15%;
}

.num-col {
    width: 5%;
}

.desc-col {
    width: 30%;
}

.tags-col {
    width: 30%;
}

.acts-col {
    width: 5%;
}
