@page "/CreateCampaign"
@rendermode InteractiveServer
@inject GroupBankService gbService
@inject AuthenticationStateProvider asProvider
@inject NavigationManager navManager

<AuthorizeView>
    <Authorized>
        <h3>Create a new group bank</h3>

        <div class="my-3">
            <InputText @bind-Value="Name" placeholder="Name" />
            <Button @onclick="CreateNewGroupBank">Create</Button>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string UserId { get; set; }
    public string Name { get; set; }

    private async Task CreateNewGroupBank()
    {
        Console.WriteLine("Creating new group bank");

        var gb = await gbService.CreateCampaign(Name, [UserId]);

        navManager.NavigateTo("/");
    }

    protected override async Task OnInitializedAsync()
    {
        var user = (await asProvider.GetAuthenticationStateAsync())?.User;
        UserId = user.Claims.FirstOrDefault(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
    }
}
