@page "/"
@using TGB.Domain.Entities
@inject Service service
@inject AuthenticationStateProvider asProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>

        <NavLink class="navlink" href="createGroupBank"></NavLink>

        <p>Here are your banks:</p>

        @if (banks == null)
        {
            <p><em>Nothing to show...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bank in banks)
                    {
                        <tr>
                            <td>@bank.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
</AuthorizeView>


@code {

    private List<GroupBank> banks;

    private async Task<List<GroupBank>> GetUserBanks()
    {
        var user = (await asProvider.GetAuthenticationStateAsync())?.User;
        if(user == null || !user.HasClaim(c => c.Type == TgbClaimTypes.GroupBankUserClaim))
        {
            return null;
        }

        var gbs = await service.GetGroupBanksForUser(user);
        return gbs;
    }

    protected override async Task OnInitializedAsync()
    {
        banks = await GetUserBanks();
    }
}